/* Reset some default margins and paddings */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a base font size and family */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009688; /* ユニバーシティカラーに合わせた色 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* 他の要素よりも手前に表示する */
  opacity: 1; /* 最初は完全に不透明にする */
}

.loaded {
  opacity: 0; /* 読み込み完了後に徐々に透明にする */
  pointer-events: none; /* 読み込み中はコンテンツにアクセスさせない */
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(255, 255, 255, 0.7); /* 半透明な白色のborder */
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1.0s infinite linear; /* spinアニメーションを適用 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Page header styles */
.page-header {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.page-header h1 {
  margin: 0;
}

/* Main content area */
.backpanel {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-area {
  text-align: center;
}

/* Bus timetable search area */
.timetable-search-area {
  margin-bottom: 20px;
}

.timetable-search-area h3 {
  margin: 10px 0;
}

.timetable-search-area button {
  background-color: #009688;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.timetable-search-area p {
  margin: 10px 0;
  font-size: 14px;
}

/* Link styles */
a {
  color: #009688;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #005c5a;
}

/* Bus timetable table */
.cist-bus-timetable-area {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.timetable {
  display: none;
}

#outbound-timetable {
  display: block;
}

#outbound-timetable,
#inbound-timetable {
  flex: 1;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table td:first-child {
  font-weight: bold;
}

/* Button styles */
.timetable-search-area button {
  background-color: transparent;
  border: 2px solid #009688;
  color: #009688;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
  border-radius: 5px; /* 角を丸くする */
  font-size: 16px;
  font-weight: bold;
}

.timetable-search-area button:hover {
  background-color: #009688;
  color: #fff;
  border-radius: 10px; /* ホバー時により丸くする */
}

.timetable-search-area button.active {
  background-color: #009688;
  color: #fff;
  border-radius: 10px; /* アクティブ時も丸くする */
}

/* Highlight next departure */
.highlight {
  background-color: #ff7700;
  color: white; /* ハイライトされたテキストを白にする */
  font-weight: bold; /* ハイライトされたテキストを太字にする */
}

/* Footer styles */
footer {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .backpanel {
    padding: 10px;
  }

  .timetable-search-area p {
    margin: 10px 0;
    font-size: 10px;
  }

  .cist-bus-timetable-area {
    flex-direction: column;
  }

  #outbound-timetable,
  #inbound-timetable {
    margin: 10px 0;
  }
}
